$(function() {
$table.bootstrapTable({
url : url,
height:getHeight(),
striped : true,
search : true,
showSenior: true,    //高级查询
showRefresh : true,
showColumns : true,
minimumCountColumns : 2,
queryParams : queryParams,
clickToSelect : true,
pagination : true,
paginationLoop : false,
sidePagination : 'server',
silentSort : false,
smartDisplay : false,
escape : true,
searchOnEnterKey : true,
idField : 'id',
sortName : 'createdate',
sortOrder : 'desc',
maintainSelected : true,
toolbar : '#toolbar',
columns : [
{field : 'ck',checkbox : true},
{field : 'action',width:'90',title : '操作',align : 'center',formatter : 'actionFormatter',events :
    'actionEvents',clickToSelect : false},
